
# Elastic Beanstalk Files
.elasticbeanstalk/*
.ebextensions/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
db.sqlite3
db2.sqlite3
/errorslog.txt
/staticfiles/images/CroppedImages/

# PyCharm
*.pyc

# Secret
secret_key.txt

# User Data
users_list.txt
decks/DeckStorage/
